html,
body,
ul,
dl,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  outline-style: none;
  border: 0;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", 'SimHei', 'SimSun';
  font-size: 14px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.wraper {
  width: 980px;
  margin: 0 auto;
}
